<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <nav>
    <p><a href="/home">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/works">Works</a></p>
    <p><a href="/gallery">Photo Gallery</a></p>
  </nav>
  <body>
    <img
      src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bc/Nausicaaposter.jpg/220px-Nausicaaposter.jpg"
      alt="Nausicaä of the Valley of the Wind poster"
    />
    {{#each anime}}
      <img src="image" alt="{{name}} poster" />
    {{/each}}
  </body>
</html>